div{
  margin: 10px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
ul{
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 10px;
}
li:hover{
  cursor: pointer;
}
a{
  text-decoration: none;
  color: #000;
}
ul li a.active{
  color: #0a0c7d;
  font-weight: 800;
}
