<h2>RXJS Search!</h2>
<div [formGroup]="searchForm">
  <input type="name" formControlName="name" (keyup)="readValue()">
</div>
<div *ngFor="let item of users">
  <li>
    @for (user of users; track user.name) {
      {{user.name + ' '  + user.employ + ' '| titlecase}}
    }
    <hr/>
    {{item.name | titlecase}} - {{item.role}} - {{item.employ}} - {{item.FE}} - {{item.salary | currency :'INR'}}
  </li>
</div>
<h3>Name - {{name}}</h3>
<h4>Phone No : {{phoneNo | country:'USA'}}</h4>
<h3>Full time Employment - {{fe}}</h3>
<button (click)="sendData()">Send Data</button>
